{% extends "base.html" %}
{% load static %}
{% load goods_tags %}

{% block content %}
    <!-- ----- single product details---- -->
    <div class="smalll-container single-product">
        <div class="row">
            <div class="col-2">
                 {% if product.image %}
                <img width="100%" id="ProductImg" src="{{ product.image.url }}">
                {% endif %}
                {% if images %}
                <div class="small-img-row">

                <div class="small-img-col">
                    <img src="{{ product.image.url }}" width="100%" class="small-img">
                </div>

                {% for image in images|slice:":3" %}
                    <div class="small-img-col">
                        <img src="{{ image.image.url }}" width="100%" class="small-img">
                    </div>
                {% endfor %}
                </div>
                {% endif %}
                
                {% get_images_count as count %}
                {% if count > 3 %}
                <a href="images" style="text-align: center"><p>View all images({{ count|add:1}})</p></a>
                {% endif %}
                


            </div>

            <div class="col-2">
                <div class="bread-crumbs"><a href="{% url 'main:index' %}"><p>Home /&nbsp;</p></a><a href="{% url 'goods:index' product.category.slug %}"><p> {{ product.category.name }}</p></a></div>
                <h1>{{ product.name }}</h1>
                
                {% get_rating_markup %}
                
                <h4>&#36; {{ product.price }}</h4>

                {% if product.size_set.all %}
                <select id="sizeSelect">
                {% for size in product.size_set.all %}
                    {% if size.quantity > 0 %}
                    <option>{{size.name}}</option>
                    {% endif %}
                {% endfor %}
                </select>
                {% else %}
                <p>The product is out of stock</p>
                {% endif %}




                <input id="quantityInput" type="number" value="1" min="0">
                <a href="" class="btn">Add To Cart</a>
                <h3>Product Details <i class="fa fa-indent"></i></h3>
                <br>
                <p>{{ product.description }}</p>
            </div>
        </div>
    </div>

    <!-- ----title----- -->
    <div class="small-container">
        <div class="row row-2">
            <h2>Related Products</h2>
            <a href="{% url 'goods:index' 'all' %}"><p>View More</p></a>
        </div>
    </div>

    <div class="small-container">
        <div class="row">
        {% tag_products as products %}
        {% for product in products %}
            <div class="col-4">
                <a href="{% url "catalog:product" product.slug %}">
                {% if product.image %}
                <img src="{{ product.image.url }}">
                {% endif %}
                </a>
                <h4>{{ product.name }}</h4>
                {% get_rating_markup %}
                    <p>&#36; {{ product.sell_price }}</p>
                    <p>Sale: {{ product.discount }}%</p>
                
            </div>
        {% endfor %} 
        </div>
    </div>


<script>
    var ProductImg = document.getElementById("ProductImg");
    var SmallImg = document.getElementsByClassName("small-img");

    SmallImg[0].onclick = function(){
        ProductImg.src = SmallImg[0].src;
    }
    SmallImg[1].onclick = function(){
        ProductImg.src = SmallImg[1].src;
    }
    SmallImg[2].onclick = function(){
        ProductImg.src = SmallImg[2].src;
    }
    SmallImg[3].onclick = function(){
        ProductImg.src = SmallImg[3].src;
    }

    var sizeSelect = document.getElementById("sizeSelect").addEventListener("change", function(){
        localStorage.setItem('sizeSelect', document.getElementById("sizeSelect").value)});

    var quantityInput = document.getElementById("quantityInput").addEventListener("change", function(){
        localStorage.setItem('quantityInput', document.getElementById("quantityInput").value)});

    if (localStorage.getItem('sizeSelect')) {
        document.getElementById("sizeSelect").value = localStorage.getItem('sizeSelect')}

    if (localStorage.getItem('quantityInput')) {
        document.getElementById("quantityInput").value = localStorage.getItem('quantityInput')}
</script>
{% endblock%}
