{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="account-page">
        <div class="container">
            <div class="row">
                <div class="col-2">
                    <h2>{{ user.username }}'s profile</h2>
                    <a  class="col-2" href="{% url "users:logout" %}">Logout</a>
                </div>

                <div class="col-2">
                    <form action="{% url "users:profile"%}" method="post">
                        {% csrf_token %}
                            <input name="first_name" type="text" placeholder="First name" 
                            {% if form.first_name.value %}
                            value = {{form.first_name.value}}
                            {% endif %}
                            required>
                            {% if form.first_name.errors %}
                            <div>{{ form.first_name.errors }}</div>
                            {% endif %}
                            <input name="last_name" type="text" placeholder="Last name" 
                            {% if form.last_name.value %}
                            value = {{form.last_name.value}}
                            {% endif %}
                            required>
                            {% if form.last_name.errors %}
                            <div>{{ form.last_name.errors }}</div>
                            {% endif %}
                            <input name="username" type="text" placeholder="Username" 
                            {% if form.username.value %}
                            value = {{form.username.value}}
                            {% endif %}
                            required>
                            {% if form.username.errors %}
                            <div>{{ form.username.errors }}</div>
                            {% endif %}
                            <input name="email" type="email" placeholder="Email" 
                            {% if form.email.value %}
                            value = {{form.email.value}}
                            {% endif %}
                            required>
                            {% if form.email.errors %}
                            <div>{{ form.email.errors }}</div>
                            {% endif %}
                            <button type="submit" class="btn">Save</button>
                    </form>
                </div>
                  
                        
                    
            </div>
            
            
                
        </div>
    </div>
{% endblock %}